:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-fond: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  --font-style: normal;
}

body {
  font-family: var(--main-fond);
  font-style: var(--main-fond);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ul,
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
  list-style: none;
} */

h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*======== header   ============*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;

  /* align-items: center;
  justify-content: center; */

  /* outline: 2px solid tomato; */
}
header.page-header > div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  justify-content: space-between;
  width: 1600px;
  border-bottom: 1px solid #ececec;
  padding-left: 215px;
  padding-right: 215px;
  /*
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px; */
}

.logo-Web {
  color: var(--accent-color);

  font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
a.logo {
  /* margin-right: 92px;
  margin-top: 24px;
  margin-bottom: 25px; */
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  /* background-color: blue; */
  color: #000000;
}
.logo-Studio {
  font-family: var(--secondary-fond);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: #000000;
}

/* ul .navigation-list {
  margin-left: 50px;
} */
.navigation-list {
  /* background: rebeccapurple; */
  display: flex;
}
.navigation-list > li:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* outline: 1px solid green; */
  /* background: green; */

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link.is-current {
  color: var(--accent-color);
}
.address-list {
  display: flex;

  justify-content: flex-start;
}
.address-contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-left: 215px; */

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--accent-color);
}
/* .address-contact-item:not(:last-child) {
  margin-right: 50px;
} */
ul > .address-contact-item + .address-contact-item {
  /* background-color: black; */
  margin-left: 50px;
}
/*=========  main  =========*/

/*========= hero =========*/
.hero {
  background: #2f303a;
  text-align: center;
  /* margin-bottom: 89px; */
  padding-bottom: 200px;
  padding-top: 200px;
  /* margin-bottom: 94px; */
}

.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;
  /* background-color: tomato; */

  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*========= hero button =========*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}
/*========= advantages =========*/
ul.advantages-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;

  width: 1170px;
  justify-content: center;
  /* padding-top: 94px; */
  /* align-items: center;
  text-align: center; */
}
.advantages-item {
  /* background-color: blue; */
  width: 270px;
}
ul > .advantages-item + .advantages-item {
  margin-left: 30px;
}
.advantages-heder {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========= occupation =========*/
.occupation .container {
  padding-bottom: 94px;
}
h2.occupation-tittle {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
ul.occupation-list {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  margin-bottom: 94px;
}
li.occupation-list-item + .occupation-list-item {
  margin-left: 30px;
}

/*========= our-team =========*/
.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.our-team-tittle {
  margin-bottom: 50px;
  /* background-color: tomato; */

  font-weight: bold;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-list {
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  /* background-color: green; */
}
.our-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
/* background: green; */
.our-team-item + .our-team-item {
  margin-left: 30px;
}
/* .navigation-list > li:not(:last-child) {
  margin-right: 50px; */
/* .our-team-item {
  background-color: green;
} */
.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
p.our-team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
/*========= footer =========*/
footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .logo-footer {
  display: flex;
} */
.footer-list {
  width: 231px;
  height: 81px;
}

.address-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.logo-Studio-footer {
  font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-color);

  width: 145px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.address-footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*=======button-list=====*/

/* div.container.page-header.portfolio {
  margin-bottom: 94px;
  background-color: yellow;
} */
ul.button-list-container {
  display: flex;
  /* background-color: blue; */
  /* margin-bottom: 34px; */
  /* width: 611px; */
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 34px;
}
/* li.button-item {

} */
li.button-item + .button-item {
  margin-left: 8px;
}

.button-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button {
  font-family: var(--main-fond);
  font-style: var(--main-fond);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #e5e5e5;
  color: #212121;
  border: none;
  padding: 8px 22px;
}

.button:hover,
.button:focus {
  font-family: var(--main-fond);
  font-style: var(--main-fond);
  background: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
}
.button.pointer {
  cursor: pointer;
}
/* our projects */
.projects-list.flex-container {
  flex-wrap: wrap;
  display: flex;
  /* background-color: green; */
  justify-content: space-between;
  /* box-sizing: border-box; */
}
/* li.projects-list-item {
  width: 370px;
  background-color: rgb(151, 172, 151);
  margin-right: 30px;
  margin-bottom: 30px;
} */
/* .projects-list-foto {
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
} */

li.projects-list-item {
  width: calc((100% - 60px) / 3);
}
li.projects-list-item {
  margin-bottom: 30px;
}
li.projects-list-item:nth-child(3n) {
  margin-right: 0;
}
li.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-content {
  background: #ffffff;
  /* border: 1px solid #eeeeee; */

  /* border-radius: 5px; */
  padding: 20px 24px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
img.projects-list-foto {
  margin: 0;
  padding-right: 0;
}
.projects-list-heder {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  /* width: 322px; */
  margin-bottom: 4px;
}
.projects-list-explanation {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  /* width: 322px; */
  /* margin-bottom: 20px; */
}
.projects-list-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
