:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-fond: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  --font-style: normal;
}

body {
  font-family: var(--main-fond);
  font-style: var(--main-fond);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/*======== header   ============*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  /* align-items: center;
  justify-content: center; */

  /* outline: 2px solid tomato; */
}
.container.page-header {
  display: flex;
  align-items: center;
  /*justify-content: center;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px; */
}

.logo-Web {
  color: var(--accent-color);

  font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
a.logo {
  margin-right: 92px;
  margin-left: auto;
  /* background-color: blue; */
  color: #000000;

  /* font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em; */
}
/* font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

.logo-Studio {
  font-family: var(--secondary-fond);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

/* ul .navigation-list {
  margin-left: 50px;
} */
.navigation-list {
  /* background: rebeccapurple; */
  display: flex;
}
.navigation-list > li:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* outline: 1px solid green; */
  /* background: green; */

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link.is-current {
  color: var(--accent-color);
}
.address-list {
  display: flex;
  margin-left: 331px;
}
.address-contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--accent-color);
}
/* .address-contact-item:not(:last-child) {
  margin-right: 50px;
} */
ul > .address-contact-item + .address-contact-item {
  /* background-color: black; */
  margin-left: 50px;
}
/*=========  main  =========*/

/*========= hero =========*/
.hero {
  background: #2f303a;
  text-align: center;
  margin-bottom: 89px;
}
.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;
  /* background-color: tomato; */

  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*========= hero button =========*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}
/*========= advantages =========*/
ul.advantages-list {
  display: flex;
  margin-bottom: 94px;
  /* align-items: center;
  text-align: center; */
}
/* .advantages-item {
  background-color: blue;
} */
ul > .advantages-item + .advantages-item {
  margin-left: 30px;
}
.advantages-heder {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========= occupation =========*/

h2.occupation-tittle {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #212121;
}
ul.occupation-list {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
  margin-bottom: 94px;
}
li.occupation-list-item + .occupation-list-item {
  margin-left: 30px;
}

/*========= our-team =========*/
.our-team-tittle {
  margin-top: 94px;
  margin-bottom: 50px;
  /* background-color: tomato; */

  font-weight: bold;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-list {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* background-color: green; */
}
/* background: green; */
.our-team-item + .our-team-item {
  margin-left: 30px;
}
/* .navigation-list > li:not(:last-child) {
  margin-right: 50px; */
/* .our-team-item {
  background-color: green;
} */
ul > .our-team-item + .our-team-item {
  margin-left: 30px;
}
.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========= footer =========*/
footer {
  background: #2f303a;
}
/* .logo-footer {
  display: flex;
} */

.address-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.logo-Studio-footer {
  font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-color);

  width: 145px;
  margin-top: 60px;
}
.address-footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*=======button-list=====*/

div.container.page-header.portfolio {
  margin-bottom: 94px;
  /* background-color: yellow; */
}
ul.button-list.container {
  display: flex;
  /* background-color: blue; */
  margin-bottom: 34px;
  width: 611px;
  align-items: center;
}
li.button-item + .button-item {
  margin-left: 8px;
}

.button-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button {
  width: 130px;
  font-family: var(--main-fond);
  font-style: var(--main-fond);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #e5e5e5;
  color: #212121;
  border: none;
}
.button:hover,
.button:focus {
  font-family: var(--main-fond);
  font-style: var(--main-fond);
  background: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
}
.button.pointer {
  cursor: pointer;
}
/* our projects */
.flex-container {
  flex-wrap: wrap;
  display: flex;
  /* background-color: green; */
}
/* li.projects-list-item {
  width: 370px;
  background-color: rgb(151, 172, 151);
  margin-right: 30px;
  margin-bottom: 30px;
} */
li.projects-list-item {
  width: calc((100% - 60px) / 3);
}
li.projects-list-item:nth-child(3n) {
  margin-right: 0;
}
.projects-list-heder {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.projects-list-explanation {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.projects-list-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
